---
import '../styles/global.css';
import BlogPage from "../app/blog.tsx"
import type { Blog } from '../data/blog';
import MainLayout from './main.astro';
import ThemeIcon from '../components/theme-icon.astro';

// if you want to use the sidebar cookie
const defaultSidebarOpen = Astro.cookies.get('sidebar:state')?.value === 'true';
const { blog } = Astro.props as MarkdownLayoutProps & { blog: Blog };
---

<MainLayout title={blog.title}>
    <BlogPage client:load defaultSidebarOpen={defaultSidebarOpen} blog={blog}>
        <div class="mx-auto grid w-full max-w-2xl grid-cols-1 gap-10 xl:max-w-5xl xl:grid-cols-[minmax(0,1fr)_var(--container-2xs)]">
            <slot>
        </div>
    </Page>
</MainLayout>