---
import '../styles/global.css';
import MainLayout from './main.astro';
import Header from "../components/astro/header.astro"

// if you want to use the sidebar cookie
const defaultSidebarOpen = Astro.cookies.get('sidebar:state')?.value === 'true';
const { title } = Astro.props



const meta = {
  title: title,
  description: "Descripción breve del artículo.",
  siteName: "Guido Genzone",
  author: "Guido Genzone",
  publishedTime: "2024-07-03",
  modifiedTime: "2024-07-04",
  tags: ["astro", "seo", "ejemplo"]
};
---


<MainLayout meta={meta} >
    <div className="min-h-screen bg-baground text-foreground ">
        <Header />
        <slot>
    </div>
</MainLayout>